body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.slick-slider {
  text-align: center;
  margin: 0 auto;
}

.slick-list img {
  margin: auto;
  max-height: 80vh;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.red-border {
  border: 1px solid indianred;
}

input {
  margin-bottom: 10px;
}
